.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60 80px;
    gap: 200px;
    height: 80vh;
}
.heroContent {
    flex: 1;
    max-width: 35%;
}
.tagline {
    background-color: var(--light-green);
    border-radius: 20px;
    padding: 6px 16px ;
    display: inline-block;
    color: var(--primary-green);
}
.heroTitle {
font-size: 36px;
font-weight: bolder;
margin: 4px 0;

}
.heroTitle span {
    color: var(--primary-green);
}

.heroDescription {
    font-size: 16px;
    margin-bottom: 40px;
}
.heroButton {
    background-color: var(--dark-green);
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    gap: 10px;
}
.heroButton img {
    margin-top: 2px;
}
.heroButton:hover {
    color: var(--dark-green);
    background-color: var(--light-green);
}
.heroImage {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: var(--light-green);
    padding: 10px 5px;
    border-radius: 30px;
    
}
.features {
    padding: 40px 80px;

}
.featureHeading {
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 40px;
}
.featureGrid{
display: flex;
justify-content: center;
gap: 30px;

}
.featureCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px;
    line-height: 8px;
}
.featureImage {
margin-bottom: 5px;
background-color: var(--light-green);
border-radius: 100%;
padding: 16px;
}
.featureTitle{
margin-bottom: 2px;
}
.featureDescription {

}